extends base
include mixins/video

block content 
        each potato in videos
            //- div 
            //-     h4=video.title
            //-     ul 
            //-         li #{video.rating}/5
            //-         li #{video.comments} commetns 
            //-         li Posted #{createdAt}
            //-         li #{video.views} views.
            //- 앞으로 자주 쓸거라서 반복하기 싫다. mixin쓰자
            +video(potato)
        else 
            li sorry Not Found .
            //- 여기 else 구문은 JS 가 아닌, pug만의 문법이다.
